h1 {
    border: 2px solid blue;
    border-radius: 20px;
}

#general {
    border: 1px solid blue;
    border-radius: 5px;
}

button {
    border:none;
    color: white;
    border-radius: 2px;
}

#complete {
    background-color: green;  
}

#delete {
    background-color: red;
}

#complete:hover {
    background-color: rgb(18, 87, 18);
}

#delete:hover {
    background-color: rgb(119, 6, 6);
}